<!DOCTYPE html>
<html class="no-js" lang="">


<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NodeKart &middot; Homepage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700,400italic,700italic&amp;subset=latin,vietnamese">

    <link rel="stylesheet" href="../../../../front-end/css/bootstrap.css">

    <link rel="stylesheet" href="../../../../front-end/css/plugins.css">

    <link rel="stylesheet" href="../../../../front-end/css/styles.css">

    <script src="../../../../front-end/js/vendor.js"></script>

    <script>
        window.SHOW_LOADING = true;
    </script>

</head>

<body>

<!--
    <div class="awe-page-loading">
        <div class="awe-loading-wrapper">
            <div class="awe-loading-icon">
                <span class="icon icon-logo"></span>
            </div>

            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

-->

    <div id="wrapper" class="main-wrapper ">


      {{> shop/header}}
        <!-- /.awe-menubar-header -->



        <div id="main">

            <section>





                <div class="main-slider-wrapper">
                    <div class="main-slider owl-carousel owl-carousel-inset">

                        <div class="main-slider-item">
                            <div class="main-slider-image">
                                <img src="../../../../front-end/img/samples/sliders/1.jpg" alt="">
                            </div>

                            <div class="main-slider-text">
                                <div class="fp-table">
                                    <div class="fp-table-cell center">
                                        <div class="container">
                                            <h3>The Shoes For Summer</h3>
                                            <h2>Shoes Vans<br>$160.00</h2>

                                            <div class="button">
                                                <a href="#" class="btn btn-lg btn-primary margin-right-15">Shop now</a>
                                                <a href="#" class="btn btn-lg btn-white btn-outline">Browse category</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="main-slider-item">
                            <div class="main-slider-image">
                                <img src="../../../../front-end/img/samples/sliders/2.jpg" alt="">
                            </div>

                            <div class="main-slider-text">
                                <div class="fp-table">
                                    <div class="fp-table-cell center">
                                        <div class="container">
                                            <h3 class="small">New Fashion For Winter</h3>
                                            <h2 class="small">New Jacket <br> only $60</h2>

                                            <div class="button">
                                                <a href="#" class="btn btn-lg btn-primary margin-right-15">Shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="main-slider-item">
                            <div class="main-slider-image">
                                <img src="../../../../front-end/img/samples/sliders/3.jpg" alt="">
                            </div>

                            <div class="main-slider-text">
                                <div class="fp-table">
                                    <div class="fp-table-cell center">
                                        <div class="container">
                                            <h3 class="light">New T-shirt</h3>
                                            <h2 class="small margin-bottom-25">Vintage Raglan</h2>

                                            <div class="dots-color center margin-bottom-35">
                                                <span class="orange"></span>
                                                <span class="blue"></span>
                                                <span class="green"></span>
                                                <span class="red"></span>
                                                <span class="black"></span>
                                            </div>

                                            <div class="button">
                                                <a href="#" class="btn btn-lg btn-primary">Shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="main-slider-item">
                            <div class="main-slider-image">
                                <img src="../../../../front-end/img/samples/sliders/4.jpg" alt="">
                            </div>

                            <div class="main-slider-text">

                                <div class="fp-table">
                                    <div class="fp-table-cell center">
                                        <div class="container">
                                            <h3 class="small">What's Trending</h3>
                                            <h2 class="small">Look Book<br>fashion 2015</h2>

                                            <div class="button">
                                                <a href="#" class="btn btn-lg btn-primary margin-right-15">View now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <script>
                    $(function() {  aweMainSlider(); });
                </script>

            </section>
            <!-- /section -->

            <section class="border-bottom">
                <div class="container">
                    <div class="policy-wrapper">

                        <div class="row">

                            <div class="col-md-4 col-sm-4 col-xs-8">
                                <div class="policy">
                                    <div class="policy-icon">
                                        <i class="icon icon-dolar-circle"></i>
                                    </div>

                                    <div class="policy-text">
                                        <h4>100% Money back</h4>
                                        <p>Guarantee</p>
                                    </div>
                                </div>
                                <!-- /.policy -->
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-8">
                                <div class="policy">
                                    <div class="policy-icon">
                                        <i class="icon icon-car"></i>
                                    </div>

                                    <div class="policy-text">
                                        <h4>Free shipping</h4>
                                        <p>On order over 500$</p>
                                    </div>
                                </div>
                                <!-- /.policy -->
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-8">
                                <div class="policy">
                                    <div class="policy-icon">
                                        <i class="icon icon-telephone"></i>
                                    </div>

                                    <div class="policy-text">
                                        <h4>24-hour</h4>
                                        <p>active support</p>
                                    </div>
                                </div>
                                <!-- /.policy -->
                            </div>
                        </div>
                        <!-- /.row -->

                    </div>
                    <!-- /.policy-wrapper -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /section -->

            <section>
                <div class="container">

                    <div class="home-products padding-vertical-60">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="awe-media home-cate-media">
                                    <div class="awe-media-header">
                                        <div class="awe-media-image">
                                            <img src="../../../../front-end/img/collections/men.jpg" alt="">
                                        </div>
                                        <!-- /.awe-media-image -->

                                        <div class="awe-media-overlay overlay-dark-50 fullpage">
                                            <div class="content">

                                                <div class="fp-table text-left">
                                                    <div class="fp-table-cell">

                                                        <h2 class="upper">Men</h2>
                                                        <p class="margin-bottom-50"></p>
                                                        <a href="../../../../shop/men" class="btn btn-sm btn-outline btn-white">View All</a>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- /.awe-media-overlay -->

                                    </div>
                                    <!-- /.awe-media-header -->
                                </div>
                                <!-- /.awe-media -->
                            </div>

                            <div class="col-md-9 col-sm-8">
                                <div class="products owl-carousel" data-items="3">

                                {{#each products_men}}


                                    <div class="product product-grid">
                                        <div class="product-media">
                                            <div class="product-thumbnail">
                                                <a href="../../../../product/{{_id}}" title="">
                                                    <img src="../../../../uploads/products/{{_id}}/{{image.[0].img}}" alt="" class="current">
                                                    <img src="../../../../uploads/products/{{_id}}/{{image.[1].img}}" alt="">
                                                </a>
                                            </div>
                                            <!-- /.product-thumbnail -->



                                        </div>
                                        <!-- /.product-media -->

                                        <div class="product-body">
                                            <h2 class="product-name">
                                    <a href="../../../../product/{{_id}}" title="{{name}}">{{name}}</a>
                                </h2>
                                            <!-- /.product-product -->

                                            <div class="product-category">
                                                <span>Size : {{size}}</span>
                                            </div>
                                            <!-- /.product-category -->

                                            <div class="product-price">

                                                <span class="amount">&#8377; {{pricing.sale}}</span>

                                            </div>
                                            <!-- /.product-price -->
                                        </div>
                                        <!-- /.product-body -->
                                    </div>

                                    {{/each}}
                                    <!-- /.product -->




                                </div>
                                <!-- ./products -->
                            </div>
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-md-push-9 col-sm-push-8">
                                <div class="awe-media home-cate-media">
                                    <div class="awe-media-header">
                                        <div class="awe-media-image">
                                            <img src="../../../../front-end/img/collections/women.jpg" alt="">
                                        </div>
                                        <!-- /.awe-media-image -->

                                        <div class="awe-media-overlay overlay-dark-50 fullpage">
                                            <div class="content">

                                                <div class="fp-table text-left">
                                                    <div class="fp-table-cell">

                                                        <h2 class="upper">Women</h2>
                                                        <p class="margin-bottom-50"></p>
                                                        <a href="../../../../shop/women" class="btn btn-sm btn-outline btn-white">View All</a>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- /.awe-media-overlay -->
                                    </div>
                                    <!-- /.awe-media-header -->
                                </div>
                                <!-- /.awe-media -->
                            </div>

                            <div class="col-md-9 col-sm-8 col-md-pull-3 col-sm-pull-4">
                                <div class="products owl-carousel" data-items="3">


                                {{#each products_women}}


                                    <div class="product product-grid">
                                        <div class="product-media">
                                            <div class="product-thumbnail">
                                                <a href="../../../../product/{{_id}}" title="">
                                                    <img src="../../../../uploads/products/{{_id}}/{{image.[0].img}}" alt="" class="current">
                                                    <img src="../../../../uploads/products/{{_id}}/{{image.[1].img}}" alt="">
                                                </a>
                                            </div>
                                            <!-- /.product-thumbnail -->



                                        </div>
                                        <!-- /.product-media -->

                                        <div class="product-body">
                                            <h2 class="product-name">
                                    <a href="../../../../product/{{_id}}" title="{{name}}">{{name}}</a>
                                </h2>
                                            <!-- /.product-product -->

                                            <div class="product-category">
                                                <span>Size : {{size}}</span>
                                            </div>
                                            <!-- /.product-category -->

                                            <div class="product-price">

                                                <span class="amount">&#8377; {{pricing.sale}}</span>

                                            </div>
                                            <!-- /.product-price -->
                                        </div>
                                        <!-- /.product-body -->
                                    </div>

                                    {{/each}}
                                    <!-- /.product -->


                                </div>
                                <!-- ./products -->
                            </div>
                        </div>
                        <!-- /.row -->


                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="awe-media home-cate-media">
                                    <div class="awe-media-header">
                                        <div class="awe-media-image">
                                            <img src="../../../../front-end/img/collections/kids.jpg" alt="">
                                        </div>
                                        <!-- /.awe-media-image -->

                                        <div class="awe-media-overlay overlay-dark-50 fullpage">
                                            <div class="content">

                                                <div class="fp-table text-left">
                                                    <div class="fp-table-cell">

                                                        <h2 class="upper">Kids</h2>
                                                        <p class="margin-bottom-50"></p>
                                                        <a href="../../../../shop/kids" class="btn btn-sm btn-outline btn-white">View All</a>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- /.awe-media-overlay -->
                                    </div>
                                    <!-- /.awe-media-header -->
                                </div>
                                <!-- /.awe-media -->
                            </div>

                            <div class="col-md-9 col-sm-8">
                                <div class="products owl-carousel" data-items="3">

                                {{#each products_kids}}


                                    <div class="product product-grid">
                                        <div class="product-media">
                                            <div class="product-thumbnail">
                                                <a href="../../../../product/{{_id}}" title="">
                                                    <img src="../../../../uploads/products/{{_id}}/{{image.[0].img}}" alt="" class="current">
                                                    <img src="../../../../uploads/products/{{_id}}/{{image.[1].img}}" alt="">
                                                </a>
                                            </div>
                                            <!-- /.product-thumbnail -->


                                        </div>
                                        <!-- /.product-media -->

                                        <div class="product-body">
                                            <h2 class="product-name">
                                    <a href="../../../../product/{{_id}}" title="{{name}}">{{name}}</a>
                                </h2>
                                            <!-- /.product-product -->

                                            <div class="product-category">
                                                <span>Size : {{size}}</span>
                                            </div>
                                            <!-- /.product-category -->

                                            <div class="product-price">

                                                <span class="amount">&#8377; {{pricing.sale}}</span>

                                            </div>
                                            <!-- /.product-price -->
                                        </div>
                                        <!-- /.product-body -->
                                    </div>
                                    {{/each}}
                                    <!-- /.product -->
                                    


                                </div>
                                <!-- ./products -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.home-products -->

                </div>
                <!-- /.container -->
            </section>
            <!-- /section -->

            <div class="container">
                <div class="divider"></div>
            </div>

            <section>
                <div class="container">
                    <div class="padding-vertical-50">

                        <div class="arrivals">
                            <div class="section-header center">
                                <h2>New Arrivals</h2>
                            </div>
                            <!-- /.section-header -->

                            <div class="products home-products owl-carousel" data-items="4">

                                {{#each products_new}}


                                <div class="product product-grid">
                                        <div class="product-media">
                                            <div class="product-thumbnail">
                                                <a href="../../../../product/{{_id}}" title="">
                                                    <img src="../../../../uploads/products/{{_id}}/{{image.[0].img}}" alt="" class="current">
                                                    <img src="../../../../uploads/products/{{_id}}/{{image.[1].img}}" alt="">
                                                </a>
                                            </div>
                                            <!-- /.product-thumbnail -->


                                        </div>
                                        <!-- /.product-media -->

                                        <div class="product-body">
                                            <h2 class="product-name">
                                    <a href="../../../../product/{{_id}}" title="{{name}}">{{name}}</a>
                                </h2>
                                            <!-- /.product-product -->

                                            <div class="product-category">
                                                <span>Size : {{size}}</span>
                                            </div>
                                            <!-- /.product-category -->

                                            <div class="product-price">

                                                <span class="amount">&#8377; {{pricing.sale}}</span>

                                            </div>
                                            <!-- /.product-price -->
                                        </div>
                                        <!-- /.product-body -->
                                    </div>
                                {{/each}}
                                <!-- /.product -->


                            </div>
                            <!-- /.products -->
                        </div>
                        <!-- /.arrivals -->

                    </div>
                </div>
                <!-- /.container -->
            </section>
            <!-- /section -->

            <div class="container">
                <div class="divider"></div>
            </div>

            <section>
                <div class="container">

                    <div class="padding-vertical-50">
                        <div class="section-header center">
                            <h2>Featured Items</h2>
                        </div>
                        <!-- /.section-header -->

                        <div class="products home-products owl-carousel" data-items="4">

                                {{#each products_featured}}


                                <div class="product product-grid">
                                        <div class="product-media">
                                            <div class="product-thumbnail">
                                                <a href="../../../../product/{{_id}}" title="">
                                                    <img src="../../../../uploads/products/{{_id}}/{{image.[0].img}}" alt="" class="current">
                                                    <img src="../../../../uploads/products/{{_id}}/{{image.[1].img}}" alt="">
                                                </a>
                                            </div>
                                            <!-- /.product-thumbnail -->


                                        </div>
                                        <!-- /.product-media -->

                                        <div class="product-body">
                                            <h2 class="product-name">
                                    <a href="../../../../product/{{_id}}" title="{{name}}">{{name}}</a>
                                </h2>
                                            <!-- /.product-product -->

                                            <div class="product-category">
                                                <span>Size : {{size}}</span>
                                            </div>
                                            <!-- /.product-category -->

                                            <div class="product-price">

                                                <span class="amount">&#8377; {{pricing.sale}}</span>

                                            </div>
                                            <!-- /.product-price -->
                                        </div>
                                        <!-- /.product-body -->
                                    </div>
                                {{/each}}
                                <!-- /.product -->


                            </div>
                            <!-- /.products -->

                        <div class="center">
                            <a href="../../../../products" class="btn btn-lg btn-dark btn-outline">
                                <span>View More Products</span>
                            </a>
                        </div>
                        <!-- /.margin-top-50 -->
                    </div>
                    <!-- /.padding-vertical-50 -->

                </div>
                <!-- /.container -->
            </section>
            <!-- /section -->


        </div>


      {{> shop/footer}}

        <!-- /footer -->

    </div>
    <!-- /#wrapper -->


    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>

    <script src="../../../../front-end/js/jquery-ui.min.1.11.4.js"></script>

    <script src="../../../../front-end/js/plugins.js"></script>

    <script src="../../../../front-end/js/main.js"></script>

    <script src="../../../../front-end/js/docs.js"></script>

</body>


</html>
